<div class="section" id="skill">
  <div class="h4 text-center mb-4 title">Skills</div>
  <div class="h4 text-center mb-4 section__subtitle">My Technical Level</div>
  <br />
    <div   data-aos="fade-up" data-aos-offset="10">
        <div class="row">
            <div class="col-lg-4 col-md-12" style="padding-left: 50px;padding-right: -300px;" >
              <div class="wall">
                <div class="v-boxes">
            
                  <div class="box">
                    <span class="tooltip">SQL Server</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/sqlServer.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 4 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Couchbase</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/couchbase-logo.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 1 year</i>
                      </div>
                    </div>        
                  </div>
                  <div class="box">
                    <span class="tooltip">Git</span>
                    <div class="box-face">
                      <div class="box-text">
                        <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/git/git.png" alt="">
                      </div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 6 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Google Cloud</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/googleCloud.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp:1 year</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="v-boxes second">
                  <div class="box">
                    <span class="tooltip">Angular JS</span>
                    <div class="box-face">
                      <div class="box-text"><i class="fab fa-angular" style="color:red"></i></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 3 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">React</span>
                    <div class="box-face">
                      <div class="box-text"><i class="fab fa-react" style="color:blue"></i></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Python</span>
                    <div class="box-face">
                      <div class="box-text"><img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 4 years</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="v-boxes third">
                  <div class="box">
                    <span class="tooltip" style="align-items: center;">.NET Core</span>
                    <div class="box-face">
                      <div class="box-text">
                        <img src="assets/images/microsoft-dot-net-icon.png" alt="">
                      </div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 2 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Atlassian Stack</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/Atlassian-logo.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i>Exp: 2 Years</i>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="v-boxes forth">
                  <a href="https://github.com/hansapradhan" target="_blank">
                  <div class="box link">
                    <div class="box-face">
                      <div class="box-text"><i class="fab fa-github-alt"></i></div>
                    </div>
                  </div>
                </a>
                </div>
              </div>
            </div>    
            <div class="col-lg-8 col-md-12" style="padding-right: 100px;padding-left: 50px;" >       
              <p class="about-text" align="justify" >Most of my skills I have gained through my work experience, University projects, online courses and personal projects. 
                I have divided all technologies into the following categories:</p>
                <p class="about-text" align="justify"><b>Note: </b>  Please hover over the icon tiles on the left side to get the number of years of experience and the technology name. You can also hover over the github icon to go to my profile and view my projects.</p>

                <ul class="list">
                  <li>
                    <div class="icon"><i class="uil uil-brackets-curly"></i></div>
                    <div class="content">
                      <h2 >Frontend Technologies</h2>
                      <p class="qualification__subtitle">I have worked on technologies like Angular and React. I have worked on applications on angular in my company and did personal projects on React. I have a strong hold on HTML, CSS and JS</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon"><i class="uil uil-server"></i></div>
                    <div class="content">
                      <h2>Backend Technologies</h2>
                      <p class="qualification__subtitle">I have been trained on Microsoft Fullstack. I have worked on various backend technologies like .NET Core, Entity Framework and have some experience on Google cloud(BigQuery and Apigee). I have also completed a certifcation for Azure.
                        I have also worked on Python ML Libraries and flask as well. Also worked on DB's like couchbase and SQl Server.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon"><i class="uil uil-desktop-alt"></i></div>
                    <div class="content">
                      <h2>Coding Softwares</h2>
                      <p class="qualification__subtitle">I have extensively worked on Visual Studio. I use git for version control, and Github and bitbucket code repositories. I have experience using Atlassian stack(Jira, BitBucket, Confluence). I have worked on projects based on agile methodology</p>
                    </div>
                  </li>
                </ul>
            </div>
            </div>
    </div>
</div>



  <!-- -------------------------------------------------------------------------------------------- -->
  <!-- <table>
    <tr>
      <td>

      </td>
      <td class="qualification__title" style="margin-top:00px;">

        
      </td>
    </tr>
  </table>

</div> -->



