<div class="section" id="skill">
  <div class="h4 text-center mb-4 title">Skills</div>
  <div class="h4 text-center mb-4 section__subtitle">My Technical Level</div>
  <br />
    <div   data-aos="fade-up" data-aos-offset="10">
        <div class="row">
            <div class="col-lg-4 col-md-12" style="padding-left: 50px;padding-right: -300px;" >
              <div class="wall">
                <div class="v-boxes">
            
                  <div class="box">
                    <span class="tooltip">SQL Server</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/sqlServer.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 4 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Couchbase</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/couchbase-logo.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 1 year</i>
                      </div>
                    </div>        
                  </div>
                  <div class="box">
                    <span class="tooltip">Git</span>
                    <div class="box-face">
                      <div class="box-text">
                        <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/git/git.png" alt="">
                      </div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 6 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Google Cloud</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/googleCloud.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp:1 year</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="v-boxes second">
                  <div class="box">
                    <span class="tooltip">Angular JS</span>
                    <div class="box-face">
                      <div class="box-text"><i class="fab fa-angular" style="color:red"></i></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 3 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">React</span>
                    <div class="box-face">
                      <div class="box-text"><i class="fab fa-react" style="color:blue"></i></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 1 year</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Python</span>
                    <div class="box-face">
                      <div class="box-text"><img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/python/python.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 4 years</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="v-boxes third">
                  <div class="box">
                    <span class="tooltip" style="align-items: center;">.NET Core</span>
                    <div class="box-face">
                      <div class="box-text">
                        <img src="assets/images/microsoft-dot-net-icon.png" alt="">
                      </div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i class="fa fa-star">Exp: 2 years</i>
                      </div>
                    </div>
                  </div>
                  <div class="box">
                    <span class="tooltip">Atlassian Stack</span>
                    <div class="box-face">
                      <div class="box-text"><img src="assets/images/Atlassian-logo.png" alt=""></div>
                    </div>
                    <div class="box-back">
                      <div class="box-text">
                        <i>Exp: 2 Years</i>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="v-boxes forth">
                  <a href="https://github.com/hansapradhan" target="_blank">
                  <div class="box link">
                    <div class="box-face">
                      <div class="box-text"><i class="fab fa-github-alt"></i></div>
                    </div>
                  </div>
                </a>
                </div>
              </div>
            </div>    
            <div class="col-lg-8 col-md-12" style="padding-right: 100px;padding-left: 50px;" >       
              <p class="about-text" align="justify" >The majority of my skills came from my work experience, school assignments, online courses, and personal projects. I've categorised my skills into the following groups:</p>
                <p class="about-text" align="justify"><b>Note: </b> Please hover over the icon tiles on the left side to view the technology name and years of experience. You may see my Github profile and my projects by hovering over the github icon.</p>

                <ul class="list">
                  <li>
                    <div class="icon"><i class="uil uil-brackets-curly"></i></div>
                    <div class="content">
                      <h2 >Frontend Technologies</h2>
                      <p  class="qualification__subtitle">I've worked with Angular and React, among other technologies. I've worked on Angular applications for my company and created personal projects using React. I am proficient in HTML, CSS, and JavaScript.</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon"><i class="uil uil-server"></i></div>
                    <div class="content">
                      <h2>Backend Technologies</h2>
                      <p class="qualification__subtitle">I've received Microsoft Fullstack training. I have familiarity with certain backend technologies, including.NET Core, Entity Framework, and Google Cloud (BigQuery and Apigee). I also finished my Azure certification.
                         I have also worked with flask and the Python ML Library. I worked on DBs like Couchbase and SQL Server.
                      </p>
                    </div>
                  </li>
                  <li>
                    <div class="icon"><i class="uil uil-desktop-alt"></i></div>
                    <div class="content">
                      <h2>Coding Softwares</h2>
                      <p class="qualification__subtitle">I have extensively worked on Visual Studio. I use git for version control, and Github and bitbucket code repositories. I have experience using Atlassian stack(Jira, BitBucket, Confluence). I have worked on projects based on agile methodology</p>
                    </div>
                  </li>
                </ul>
            </div>
            </div>
    </div>
</div>


