<div class="qualification section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Experience and Education</div>
        <div class="h4 text-center mb-4 section__subtitle">My Personal Journey</div>

        <div class="qualification__container container">
            <!-- Headers -->
            <div class="qualification__tabs">
                <table>
                    <tr>
                        <td  style="padding-right: 150px">
                            <div class="qualification__button button--flex qualification__active" data-target="#education" id="defaultOpen"  onclick="openqualification(event, 'education')">
                             <i class="uil uil-graduation-cap"></i> Education
                            </div>
                        </td>
                        <td>
                            <div class="qualification__button button--flex" data-target="#work"  onclick="openqualification(event, 'work')">
                                <i class="uil uil-briefcase"></i>Work Experience
                            </div> 
                        </td>
                    </tr>
                </table>
            </div>




                <div class="qualification__sections" data-aos="flip-left">
                        <!-- For Education  -->
                        <div class="qualification__content qualification__active" data-content id = "education">
                            <table>
                                <tr>
                                <td>
                                    <!-- SRM  -->
                                    <div class="qualification__data"  >
                        <div>
                            <h3 class="qualification__title"  >Computer Science and Engineering </h3>
                            <span class="qualification__subtitle" >SRM Institute of Science and Technology</span>
                            <div class="qualification__calendar" ><i class="uil uil-calendar-alt"></i> 2016-2020</div>
                        </div>
                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                                    </div>
                                    <!-- D.P.S 12th -->
                                    <div class="qualification__data">
                        <div></div>
                        <div>
                            <span class="qualification__rounder"></span>
                            <span class="qualification__line"></span>
                        </div>
                        <div>
                            <h3 class="qualification__title">12th Grade </h3>
                            <span class="qualification__subtitle">Delhi Public School, R.K Puram, New Delhi</span>
                            <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i> 2014-2016</div>
                        </div>
                                    </div>
                                    <!-- D.P.S 10th -->
                                    <div class="qualification__data">
                                        <div>
                                        <h3 class="qualification__title" >10th Grade </h3>
                                        <span class="qualification__subtitle" >Delhi Public School, R.K Puram, New Delhi</span>
                                        <div class="qualification__calendar" ><i class="uil uil-calendar-alt"></i> 2012-2014</div>
                                    </div>
                                    <div>
                                    <span class="qualification__rounder"></span>
                                     <!-- <span class="qualification__line"></span> -->
                                    </div>
                                    </div>
                                </td>
                                <td><div><img src="assets/images/educationTransparent.png"></div></td>
                                </tr>
                            </table>
                        </div>

                            <!-- For work  -->
                            <div class="qualification__content" data-content id="work">
                                <table>
                                    <tr>
                                        <td>
                                            <!-- Infosys  -->
                                            <div class="qualification__data"  >
                                                <div>
                                                    <h3 class="qualification__title" >Specialist Programmer</h3>
                                                    <span class="qualification__subtitle">Infosys Limited, Bangalore</span>
                                                    <div class="qualification__calendar">  <i class="uil uil-calendar-alt"></i>  2020-Till Date (Current experience)</div>
                                                </div>
                                                <div>
                                                    <span class="qualification__rounder"></span>
                                                    <span class="qualification__line"></span>
                                                </div>
                                            </div>
                                            <!-- American Express -->
                                            <div class="qualification__data">
                                                <div></div>
                                                <div>
                                                    <span class="qualification__rounder"></span>
                                                    <span class="qualification__line"></span>
                                                </div>
                                                <div>
                                                    <h3 class="qualification__title">Campus Intern </h3>
                                                    <span class="qualification__subtitle">American Express</span>
                                                    <div class="qualification__calendar"><i class="uil uil-calendar-alt"></i> 2019(2 months)</div>
                                                </div>
                                            </div>
                                            <!--CRIS -->
                                            <div class="qualification__data">
                                            <div>
                                                <h3 class="qualification__title" > Campus intern </h3>
                                                <span class="qualification__subtitle" >Center for Railway Information Systems</span>
                                                <div class="qualification__calendar" ><i class="uil uil-calendar-alt"></i> 2017(2 months)</div>
                                            </div>
                                            <div>
                                                <span class="qualification__rounder"></span>
                                                <!-- <span class="qualification__line"></span> -->
                                            </div>
                                            </div>
                                        </td>
                                        <td><div><img src="assets/images/officegirl.png"></div></td>
                                    </tr>
                                </table>
                            </div> 
            </div>
        </div>
    </div>

</div>
<script>document.getElementById("defaultOpen").click();</script>        