<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p class="about-text" align="justify">I am a full-stack developer with over 2 years of experience in web development. I'm passionate about building robust and scalable web applications using cutting-edge technologies. My expertise lies in building responsive and user-friendly web interfaces, designing efficient APIs, and implementing secure and reliable back-end systems. </p>
                            <p class="about-text" align="justify">I love exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level. Lover of innovation and everything related to generate new knowledge.</p>
                            <p class="about-text" align="justify">To learn more about me, keep exploring my site or reach out directly.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Fun Facts About Me</div>
                        <ul>
                            <li class="about-text">I love to connect with people</li>
                            <br />
                            <li class="about-text">I love to travel</li>
                            <br />
                            <li class="about-text">I enjoy reading books</li>
                            <br />
                            <li class="about-text">I enjoy painting during my free time.</li>
                        </ul>

                     </div>
                </div>
            </div>
        </div>
    </div>
</div>


