<header>
    <div class = "profile-page sidebar-collapse">
      <!-- The brand name  -->
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
            <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="#" rel="tooltip">Hansa Pradhan</a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <!-- Navigation to other pages -->
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#about"><i class="uil uil-user"></i> About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#experience"><i class="uil uil-suitcase"></i> Experience</a>
                  </li>
                  <!-- <li class="nav-item">
                        <a class="nav-link smooth-scroll" href="#projects">Projects</a>
                  </li> -->

                  <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#skill"><i class="uil uil-file-alt"></i> Skills</a>
                  </li>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link smooth-scroll">Theme Colour selector
                      <i class="fa fa-caret-down"></i>
                    </a>
                    <!-- /*Purple 250 - Green 142 - Blue 230 - Pink 340*/ -->
                    <div class="dropdown-content">
                      <a onclick="setthemecolour(340)">Pink Theme</a>
                      <a onclick="setthemecolour(250)">Purple Theme</a>
                      <a onclick="setthemecolour(142)">Green Theme</a>
                      <a onclick="setthemecolour(230)">Blue Theme</a>
                    </div>
                  </li>

    
                  <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#contact"><i class="uil uil-message"></i> Contact</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link smooth-scroll" ><i class="uil uil-moon change-theme" id="theme-button">Light Theme</i> </a>
                  </li>
    
                  <!-- <li class="nav-item">
                      <a class="nav-link smooth-scroll" href="#reference">Reference</a>
                    </li> href="#education"-->

                </ul>
              </div>
            </div>
        </nav>
    </div>
</header>


