<!-- <div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="project-container">

            <img src="https://i.ibb.co/9Z4mJZp/image-2022-07-26-201920536.png" alt="image-2022-07-26-201920536" height="250" width="450" />
      
            <div class="project-content">
              <h3>Cleanfolio</h3>
              <p>A clean and simple portfolio template for developers.</p>
      
              <ul class="project-skill">
                <li>CSS</li>
                <li>JavaScript</li>
                <li>React.js</li>
              </ul>
      
              <ul class="project-link">
                <li>
                  <a href="#" aria-label="Source code" title="source code" rel="noopener"><i class="icon-border fas fa-code"></i></a>
                </li>
                <li>
                  <a href="#" aria-label="Preview" title="preview" rel="noopener"><i aria-hidden="true" class="icon-border fas fa-external-link-alt"></i></a>
                </li>
              </ul>
            </div>
          </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2012-2015</p>
                        <div class="h5">DIPLOMA</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Diploma (Department Of Technical Education)</div>
                            <h4 class="category">Smt L.V Polytechnic Hassan</h4>
                            <ul>
                                    <li>Completed  <b>Diploma</b> in <b>Computer Science</b> with <b>90%</b> aggregate.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2009-2011</p>
                        <div class="h5">Industrial Training Institute</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">ITI(NCVT)</div>
                                <h4 class="category">GOVT ITI HASSAN</h4>
                                <ul>
                                        <li>Completed <b>ITI</b> in <b>Center of Excellence(COE)</b> with <b>80% </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School(KSEEB)</div>
                                <h4 class="category">Sri Adhichunchanagiri English School Hassan</h4>
                                <ul>
                                        <li>Completed  SSLC with <b>65.6%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                                -->



<div class="section" id="education">
  <br><br><br>
    <div class="h4 text-center mb-4 title">Portfolio</div>
    <div class="h4 text-center mb-4 section__subtitle">My Personal Projects</div>

    <div class="project-container">

      <img src="assets/images/PortfolioProject.png"alt="image-2022-07-26-201920536" height="250" width="450" />

      <div class="project-content">
        <h3 class="about-text">Devfolio</h3>
        <p class="about-text">A clean and simple portfolio template for developers.</p>

        <ul class="project-skill">
          <li class="about-text">CSS</li>
          <li class="about-text">JavaScript</li>
          <li class="about-text">Angular.js</li>
        </ul>

        <ul class="project-link">
          <li>
            <a href="#" aria-label="Source code" title="source code" rel="noopener"><i class="icon-border fas fa-code"></i></a>
          </li>
          <li>
            <a href="#" aria-label="Preview" title="preview" rel="noopener"><i aria-hidden="true" class="icon-border fas fa-external-link-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="project-container">

        <img src="assets/images/AirBnbCloneProject.png"alt="image-2022-07-26-201920536" height="250" width="450" />
  
        <div class="project-content">
          <h3 class="about-text">AirBnb Clone Project</h3>
          <p class="about-text">The clone of the AirBnb Express page.</p>
  
          <ul class="project-skill">
            <li class="about-text">CSS</li>
            <li class="about-text">JavaScript</li>
            <li class="about-text">React.js</li>
          </ul>
  
          <ul class="project-link">
            <li>
              <a href="#" aria-label="Source code" title="source code" rel="noopener"><i class="icon-border fas fa-code"></i></a>
            </li>
            <li>
              <a href="#" aria-label="Preview" title="preview" rel="noopener"><i aria-hidden="true" class="icon-border fas fa-external-link-alt"></i></a>
            </li>
          </ul>
        </div>
      </div>

    <!-- <div class="project-container">
			<img src="./assets/images/startpage.png" alt="startpage" />
			<div class="project-content">
				<h3>Startpage</h3>
				<p>A minimal startpage for Firefox.</p>
				<ul class="project-skill">
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript</li>
				</ul>
				<ul class="project-link">
					<li>
						<a href="#" aria-label="Source code" target="_blank"
							title="source code" rel="noopener"><i class="icon-border fas fa-code"></i></a>
					</li>
					<li>
						<a href="#" aria-label="Preview" target="_blank"
							title="preview" rel="noopener"><i aria-hidden="true"
								class="icon-border fas fa-external-link-alt"></i></a>
					</li>
				</ul>
			</div>
		</div> -->
        <br><br><br><br><br>
    </div>