<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" >
            <div class="page-header-image" id="homeBackground" data-parallax="true" style="background-image: url('assets/images/work-4.jpg');"></div>
        <div class="container">
            <div class="content-center">
                <table>
                    <tr>
                        <td>
                            <div class="profile-image">
                            <a href="#"><img src="assets/images/hansaprofileanimoji.png" alt="Image" width="500" height="500"/></a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <h1 class="section__title section__title--intro">
                                    Hi<span class="wave">👋</span>, I am <strong>Hansa Pradhan</strong>
                                </h1>
                                <!-- <div class="txtwrapper">
                                    <ul class="dynamic-txts section__subtitle section__subtitle--intro">
                                      <li><span>YouTuber</span></li>
                                      <li><span>Designer</span></li>
                                      <li><span>Full Stack Developer</span></li>
                                      <li><span>Freelancer</span></li>
                                    </ul>
                                </div> -->
                                <p class="section__subtitle section__subtitle--intro">Full-Stack Developer</p>
                            </div>
            </td>
            </tr>           
            </table>
                <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><i class="uil uil-message"></i> Contact Me</a>
                <a class="btn btn-primary"href="https://drive.google.com/file/d/1hYfjcU4DML_Wx-eu5qTTI1Uqg4twLm9g/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor"><i class="uil uil-file-download-alt"></i>Download CV</a>
                <div class="home_scroll">
                    <a href="#about" class="home-scroll-button button--flex">
                        <i class="uil uil-mouse-alt home_scroll-mouse"></i>
                        <span class="home_scroll-name">Scroll down</span>
                        <i class="uil uil-arrow-down home_scroll-mouse"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Introduction -->
        <section class="intro" id="home">
        </section>
        <div class="section">
                <div class="button-container">
                    <div class="container">
                    <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/people/Hansa-Pradhan/pfbid027gpdqNd516ypp5zcc3bM5hnvmN5eNtKMsVPRRjsWjz37McbsTQjTZAs5Z12ozVr9l/" target="_blank" rel="tooltip" title="Follow me on Facebook">
                        <i class="fa fa-facebook"></i>
                    </a> -->
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="mailto:pradhan.hansa@gmail.com" target="_blank"  rel="tooltip" title="Drop me a Mail">
                        <i class="fa fa-envelope-open-o"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/hansapradhan/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/hansapradhan" target="_blank" rel="tooltip" title="Follow me on Github">
                        <i class="fa fa-github"></i>
                    </a>
                    <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
                        <i class="fa fa-google-plus"></i>
                    </a> -->
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
